<template>
                    
    <div class="login">
        <h1>{{ this.$config.APP_NAME}}</h1>
        <form method="post">
            <input type="text" name="email" placeholder="帳號" required="required" v-model="email"/>
            <input type="password" name="password" placeholder="密碼" required="required" v-model="password"/>
            <button type="submit" class="btn btn-primary btn-block btn-large" @click.prevent="login">登入</button>
        </form>
		<router-link :to="{name: 'Register'}" tag="a" exact class="register pull-right">我要註冊</router-link>
    </div>



</template>


<script>
	import commonMixin from '../mixins/commonMixin.js'
    export default {
		mixins:[commonMixin],
        data() {
            return {
                email: '',
				password: '',
				userInfo:{},
				groupsData:{},
            }
        },
        created() {

        },
        mounted(){

        },
        methods: {
            login() {
				let vm = this;
				const API_URL = this.$config.API_URL;
                if(this.email.length==0){
					vm.$swal('通知訊息', '請輸入帳號!', 'error');
                }else if(this.password.length==0){
					vm.$swal('通知訊息', '請輸入密碼!', 'error');
                }else{                 
                    let formData = new FormData();
                    formData.append('email', this.email);
                    formData.append('password', this.password);
                    
                    axios.post( API_URL+'api/login',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    ).then((response) => {
						//console.log(response);
						if(response.status==200){
						   let token = response.data.token;
						   //console.log("JWTtoken");  
						   //console.log(token);
						   vm.$store.dispatch('setJWTToken', token);
						   vm.getUerInfo(token);

						}else{
						   vm.password = '';
						   vm.$swal('通知訊息', '登入失敗!', 'error');
						}

                        
                    })
                    .catch((error) => {
                        if (error.response) {
						
                        } else if (error.request) {
                            //console.log(error.request);
                        } else {
                            //console.log('Error', error.message);
						}
						vm.password = '';
						vm.$swal('通知訊息.', '登入失敗!', 'error');
						vm.$router.push('/login');
                        //console.log(error.config);
                    });   
                    
                }
			},
			/*
            getUerInfo(){
                let vm = this;
                let API_URL =this.$config.API_URL;
                axios.get(API_URL+'api/user?token='+vm.token)
                .then(function (response) {
                  // handle success
                  vm.userInfo = response.data.user;
                  vm.$store.commit('setUserData', vm.userInfo);
                  vm.getGroupList();
                  //console.log(vm.userInfo.id);
                })
                .catch(function (error) {
                  // handle error
                  console.log(error);
                })
                .then(function () {
                    console.log(typeof(vm.userInfo.id));
                    if(typeof(vm.userInfo.id)=="undefined"){
                        vm.$swal('通知訊息', '請先登入您的帳號!', 'error');
                        vm.$store.dispatch('setJWTToken', '');
                        vm.$router.push('/login');
                    }
                });

			},
			*/
			/*
            getGroupList(){
                let vm = this;
                let API_URL =this.$config.API_URL;
                console.log(API_URL+'api/groupsList?token='+vm.token+'&user_id='+ vm.userInfo.id);
                axios.get(API_URL+'api/groupsList?token='+vm.token+'&user_id='+ vm.userInfo.id)
                .then((response) => {
                    console.log('Group');
                    console.log(response.data[0]);

                    let elements = response.data;

                    vm.$store.commit('setGroupsData', elements);

                    this.groupsData = elements;
					vm.$router.push('/Chat');
                });
            },
			*/
        }
    }
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.register{
	position: absolute;

	color:#ffffff;
	margin-top:  10px;
	text-align: center;

}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

</style>
