<template>
                    
    <div>
      <!--
          <transition name="router-anim" enter-active-class="animated fadeInRightBig" leave-active-class="animated fadeOutLeftBig">
      -->  
        <router-view/>
     <!--
      </transition>
     -->
    </div>

</template>

<script>
    export default {
        mounted() {
            console.log('Start.')
        }
    }
</script>

<style>
  @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";


  .page {
    position: fixed;
    width: inherit;
  }

</style>
