<template>
                    
<div class="container-fluid ChatRoom">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center title">ㄎㄧㄤ 社 聊 天 網</p>
                <button type="button" class="btn btn-light pull-right" @click.prevent="logout">登出</button>
            </div>                 
        </div>
        <div class="row no-gutters">
            <div class="col-sm-1">
               
            </div>
            <div class="col-sm-2">
                <!--爾森大頭START-->
                <div class="card hovercard">
                    <div class="cardheader">
                
                    </div>
                    <div class="avatar">
                        <img alt="" :src="myself.avatar">
                    </div>
                    <div class="info">
                        <div class="title">
                            <router-link :to="{name: 'Chat.MyInfo'}" tag="a" exact class="AvatarButton">{{ myself.name }}</router-link>
                        </div>
                        <div class="desc">{{myself.email}}</div>
                        <div class="desc">{{myself.desc}}</div>
                    </div>
                    <div class="bottom">
                        <router-link :to="{name: 'Chat.CreateGroup'}" tag="button" exact class="AvatarButton">建立聊天群組</router-link>
                        <router-link :to="{name: 'Chat.CreateFriend'}" tag="button" exact class="AvatarButton">新增好友</router-link>
                    </div>
                    <!--
                    <div class="bottom">
                        <a class="socialBtn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="socialBtn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="socialBtn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="socialBtn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                    -->
                </div>
                <!--爾森大頭END-->
            </div>

            <!--
                <transition name="router-anim" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutUp">
            -->
              <router-view/>
            <!--
            </transition>
            -->
        </div>
    </div>
</template>


<script>
    import commonMixin from '../../mixins/commonMixin.js'
    export default {
        mixins:[commonMixin],
        data() {
            return {
                myself:{},
            }
        },
        created() {
            this.myself = this.$store.getters.getUserData;           
        },
        mounted(){

        },
        methods: {
        }
    }
</script>

<style>
   @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
   @import "main.css";
</style>
