<template>
                    
<div class="col-sm-8 pl-2" >
    <div class="row no-gutters" >
            <div v-bind:class="[chatPanelIsShow ? 'col-sm-5' : 'col-sm-12']">
                <div class="card hovercard">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="height: 49px;">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                aria-selected="true" style="margin-top:5px" @click="openTab()">聊天列表</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                                aria-selected="false" style="margin-top:5px" @click="openTab()">好友列表</a>
                        </div>
                    </nav>
                    <div class="ChatMain tab-content px-sm-0" id="nav-tabContent">
                        <div v-if="!chatPanelIsShow" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" >

                              <li v-for="group in groupsData" class="list-group-item"  v-model='groupsData' @click="letsChat(group)">
                                    <div class="row align-items-center" style='line-height: 90px'>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <img class="rounded" v-bind:src="group.image" alt="..." width="50px" >
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="short-div ChatTitle d-flex justify-content-start">{{ group.name }}</div>
                                            <div class="short-div SubMessage d-flex justify-content-start">{{ group.Conversation}} </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:30px">
                                            <div class="short-div ChatTime d-flex justify-content-end">{{ group.updated_at }}</div>
                                            <div class="short-div ChatNum d-flex justify-content-end"><p><kbd>{{ group.UserCount}}</kbd></p></div>
                                        </div>
                                    </div>
                              </li>
               
                        </div>
                        <div v-else class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" >
                       
                              <li v-for="group in groupsData" class="list-group-item"  v-model='groupsData' @click="letsChat(group)">
                                    <div class="row align-items-center" style='line-height: 90px'>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <img class="rounded" v-bind:src="group.image" alt="..." width="50px" >
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="short-div ChatTitle d-flex justify-content-start">{{ group.name }}</div>
                                            <div class="short-div SubMessage d-flex justify-content-start">{{ group.Conversation}} </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:30px">
                                            <div class="short-div ChatTime d-flex justify-content-end">{{ group.updated_at }}</div>
                                            <div class="short-div ChatNum d-flex justify-content-end"><p><kbd>{{ group.UserCount}}</kbd></p></div>
                                        </div>
                                    </div>
                              </li>
                            
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                             <li v-for="user in myFriends" v-model="myFriends" class="list-group-item" v-bind:id="'fd'+user.id">
                                    <div class="row align-items-center" style='line-height: 90px'>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <img :src="user.avatar" alt="" class="img-circle img-fluid" style='width:50px'/>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="short-div ChatTitle d-flex justify-content-start">{{ user.name }}</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:30px">
                                            <div class="short-div ChatTime d-flex justify-content-end"><button type="submit" @click.prevent="deleteFriend(user.id)" class="btn btn-danger btn-sm">刪除</button></div>
                                        </div>
                                    </div>
                              </li>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-7" v-show="chatPanelIsShow">
 
                    <chat-message v-on:closeChatPanel="closeChatPanel" ref="wilsonChat"></chat-message>
    
            </div>
    </div>
</div>
</template>


<script>
    import commonMixin from '../../mixins/commonMixin.js'
    import Echo from 'laravel-echo';
    export default {
        mixins:[commonMixin],
        data() {
            return {
                chatPanelIsShow: false,
                token: '',
                myself:{},
                groupsData: [],
                myFriends:[],
                nowChatObj:{},
            }
        },
        created() {

            //console.log("ChatMain");
            this.token = this.$store.getters.getJWTToken;
            this.myself = this.$store.getters.getUserData;
            this.groupsData = this.$store.getters.getGroupsData;
            this.nowChatObj = this.groupsData[0];
            this.listenForNewGroups();
            
        },
        mounted(){
            this.token = this.$store.getters.getJWTToken;
            this.myself = this.$store.getters.getUserData;
            this.groupsData = this.$store.getters.getGroupsData;
            //this.checkUserToken(this.token);
            this.listenForNewGroups();
            this.getFriendList();
            //this.getGroupList();
        },
        methods: {
           getFriendList(){
                //console.log('GOR');
                let vm = this;
                let API_URL =vm.$config.API_URL;
                //console.log(API_URL+'api/friend/list?user_id='+vm.myself.id+'&token='+vm.token);
                axios.get(API_URL+'api/friend/list?user_id='+vm.myself.id+'&token='+vm.token)
                .then((response) => {
                    //console.log('GO');
                    //console.log(response.data);
                    this.myFriends=response.data;
                });
            },
            listenForNewGroups() {
                let vm = this;
                
                console.log("vm.myself.id");
                console.log(vm.myself.id);

                window.Echo = new Echo({
                    broadcaster: 'pusher',
                    key: '397ba534c924e5d353fd',
                    cluster: 'ap1',
                    encrypted: true,
                    auth:
                    {
                        headers:
                        {
                            'Authorization': 'Bearer ' + this.token
                        }
                    }
                });




                window.Echo.private('users.' + vm.myself.id)
                    .listen('GroupCreated', (e) => {
                        
                        console.log('GroupCreated');
                        console.log(vm.$store.getters.getGroupsData);
                        
                        var checkExist = false;
                        for (let i = 0; i < vm.groupsData.length; i++) {
                            if(vm.groupsData[i].id == e.group.id){
                                checkExist = true;
                            } 
                        }
                        
                        if(!checkExist){
                            //vm.groupsData = vm.$store.getters.getGroupsData;
                            vm.groupsData.unshift(e.group);
                        }

                    });
                
            },
            letsChat(groupObj){
                this.nowChatObj=groupObj;
                this.$refs.wilsonChat.start(this.nowChatObj);
                this.openChatPanel();
            },
            openChatPanel(){

                this.chatPanelIsShow=true;

            },
            closeChatPanel(){

                this.chatPanelIsShow=false;

            },
            openTab(){
                this.closeChatPanel();
            }

        }
    }
</script>

<style>
   @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
   @import "main.css";
</style>
