<template>
 <div class="card">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="height: 49px; padding-top:12px">

                <span class="col-sm-1" @click="closeChatPanel()">
                    <i class="fa fa-chevron-left" aria-hidden="true" style="cursor: pointer;"></i>
                </span>

                <span class="col-sm-9">{{chatObj.name}}</span>

                <span class="col-sm-2"><img src="images/group-member.svg" class="group_member pull-right"></span>

        </div>
    </nav>
    <div>

        <ul class="chat messages">
            <li :class="myself.name==conversation.user.name?'self':'other'" v-for="conversation in conversations" :id="'conversion'+conversation.id" class="message">
                <div class="avatar"> 
   
                    <img :src="conversation.user.avatar" alt="" class="img-circle"/>

                </div>
                <div class="msg ">
                    <b>{{ conversation.user.name }}</b>
                    <br/>
                    <span v-html="conversation.message"></span>
                    <br/>
                    <time>{{conversation.created_at}}</time>
                </div>
            </li>
        </ul>

    </div>
    <div class="row reply">
        <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile" aria-hidden="true"></i>
        </div>
        <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment" v-model="message" @keyup.enter="store()"></textarea>
        </div>
        <div class="col-sm-1 col-xs-1 reply-recording">

                <label for="file" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> 
                </label>
                
                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
        </div>
        <div class="col-sm-1 col-xs-1 reply-send" id="btn-chat" @click.prevent="store()" @click.native="store()">
            <i class="fa fa-comments" aria-hidden="true"></i>
        </div>
    </div>

</div>
</template>


<script>
    import commonMixin from '../../mixins/commonMixin.js'
    import Echo from 'laravel-echo';
    export default {
        mixins:[commonMixin],
        data() {
            return {
                chatObj:{},
                conversations: [],
                message: '',
                chatPanelIsShow: false,
                token: '',
                myself:{},
            }
        },
        created() {
            this.token = this.$store.getters.getJWTToken;
            this.myself = this.$store.getters.getUserData;
            //console.log(this.chatObj);
            //this.start();
        },
        mounted(){
            /*
            this.token = this.$store.getters.getJWTToken;
            this.myself = this.$store.getters.getUserData;
            */
/*
            this.$nextTick( () => {
                this.history();
                this.listenForNewMessage();
            })
*/
            
        },

        methods: {
            start(catchChatObj){
                this.chatObj = catchChatObj;
                this.conversations=[];
                this.history();
                this.listenForNewMessage();
            },
            store() {
                let vm = this;
                //this.$el.querySelector("#msg-"+vm.chatObj.id).value = '';
                if(vm.message!=''){
                    let API_URL =vm.$config.API_URL;
                    axios.post(API_URL+'api/conversations', 
                    {
                        message: vm.message, 
                        group_id: vm.chatObj.id,
                        token: vm.token
                    })
                    .then((response) => {
                        vm.message = ''; 
                        //vm.$el.querySelector("#msg-"+vm.chatObj.id).val('');
                        //console.log(response.data)
                        /*
                        if(response.data!=''){
                            vm.conversations.push(response.data);
                            vm.scrollToEnd();
                        }
                        */
                    });
                }
            },
            closeChatPanel(){

                this.$emit('closeChatPanel');

            },
            listenForNewMessage() {
                console.log('go listen message');
                console.log('groups.' + this.chatObj.id);
                
                window.Echo = new Echo({
                    broadcaster: 'pusher',
                    key: '397ba534c924e5d353fd',
                    cluster: 'ap1',
                    encrypted: true,
                    auth:
                    {
                        headers:
                        {
                            'Authorization': 'Bearer ' + this.token
                        }
                    }
                });

                window.Echo.private('groups.' + this.chatObj.id)
                    .listen('NewMessage', (e) => {
                        console.log("InComingMessage");
                        console.log(e);
                        if(e!=''){
                           this.conversations.push(e);
                           this.scrollToEnd();
                        }
                    });
                    
            },
            history() {
                let vm = this;
                let API_URL =vm.$config.API_URL;
                console.log('this.chatObj.id');
                console.log(this.chatObj.id);
                axios.post(API_URL+'api/chatHistory', {
                    group_id: this.chatObj.id, 
                    token: vm.token
                })
                .then((response) => {
                    console.log("response.data");
                    
                    console.log(response.data);
                    if(response.data!=''){
                        response.data.forEach(function(element) {
                            vm.conversations.push(element);
                        });
                    }
                }).finally(() => {
                    vm.scrollToEnd();
                });
            },
            scrollToEnd: function() {    	
                    var container = this.$el.querySelector(".chat"); 
                    console.log(container.scrollHeight);
                    
                    //$("html, body").animate({ scrollTop: $(document).height()+5000}, 2000);
 

                    //var container = this.$el.querySelector("#chat-content");
                    container.scrollTop = container.scrollHeight;
                    //var container = this.$el.querySelector(".chat");
                    //

            },
            submitFile(){
                    let vm = this;
                    let formData = new FormData();
                    formData.append('file', vm.file);
                    formData.append('group_id', vm.chatObj.id);
                    formData.append('token', vm.token);

                    let API_URL =vm.$config.API_URL;

                    axios.post(API_URL+'api/fileupload/singlefile',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    ).then((response) => {
                        vm.message = '';
                        vm.file = '';
                        if(response.data!=''){
                        //vm.conversations.push(response.data);
                        //vm.scrollToEnd();
                        }
                    })
                    .catch((error) => {
                        // Error
                        if (error.response) {
                            // The request was made and the server responded with a status code
                            // that falls out of the range of 2xx
                            // console.log(error.response.data);
                            // console.log(error.response.status);
                            // console.log(error.response.headers);
                        } else if (error.request) {
                            // The request was made but no response was received
                            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                            // http.ClientRequest in node.js
                            console.log(error.request);
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                        }
                        console.log(error.config);
                    });             
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
                this.submitFile();
            }
        }
    }
</script>

<style>
   @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
   @import "main.css";
   input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    }
    .custom-file-upload {
        border: 0px;
        display: inline-block;
        padding: 0px;
        cursor: pointer;
    }
</style>
