<template>               
 <div class="card col-sm-8 ml-2">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="height: 49px; padding-top:12px">

                    <router-link :to="{name: 'Chat.ChatMain'}" tag="span" exact class="col-sm-10">
                        <i class="fa fa-chevron-left" aria-hidden="true" style="cursor: pointer;"></i> 
                        <span class="clearfix" style="display: inline-block; padding-left:10px"><h5> 新增好友</h5></span>
                    </router-link>
                    <div class="col-sm-2">
                    </div>
            </div>
        </nav>
        <div class="row no-gutters" >
                <div class='col-sm-7'>
                    <div style="height:182px;padding:50px; border-bottom: 1px solid #dee2e6; border-right: 1px solid #dee2e6;"> 
                       
                        <div class="form-group">
                            <label for="name" class="control-label">搜尋好友暱稱</label>
                            <input class="form-control group-input" type="text" v-model="friend_name" placeholder="請輸入好友暱稱" @input="searchFriend">
                         </div> 

                    </div>
                    <div style="border-right: 1px solid #dee2e6;height:330px; overflow-x:none;overflow-y:auto;padding:30px">
                        <div style="font-size: 18px;">
                            搜尋結果
                        </div>
                        <div style="padding-left:50px;padding-top:20px" v-show="searchFail">查無資料</div>
                        <ul class="list-group" v-for="fd in friend_search" v-model="friend_search">
                            <li class="list-group-item">
                                <img :src="fd.avatar" alt="" class="img-circle img-fluid" style='width:60px'/>
                                {{ fd.name }}
                                <button type="submit" @click.prevent="createFriend(fd.id)" class="btn btn-primary btn-sm pull-right">新增</button>
                            </li>
                        </ul>

                    </div>
        
                </div>
                <div class='col-sm-5'>
                    <div style="font-size: 18px; height: 40px;text-align:center; padding-top:7px;">
                            我的好友({{myFriends.length}})
                    </div>
                    <div style="overflow-x:none;overflow-y:auto;height:468px;">

                        <ul class="list-group" v-for="user in myFriends" v-model="myFriends"  v-bind:id="'fd'+user.id">
                            <li class="list-group-item">
                                <img :src="user.avatar" alt="" class="img-circle img-fluid" style='width:60px'/>
                                {{ user.name }}
                                <button type="submit" @click.prevent="deleteFriend(user.id)" class="btn btn-danger btn-sm pull-right">刪除</button>
                            </li>
                        </ul>

                    </div>
                </div>
        </div>
    </div>
</div>
</template>

<script>
    import commonMixin from '../../mixins/commonMixin.js'
    export default {
        mixins:[commonMixin],
        data() {
            return {
                searchFail:false,
                myself:{},   //使用者個人資料
                myFriends: [],
                friend_name: '',  //搜尋朋友的名稱
                friend_search:[],
                token:'',
            }
        },     
        created() {
            this.myself = this.$store.getters.getUserData;
            this.token = this.$store.getters.getJWTToken;
            //console.log(this.myself);            
        },
        mounted(){
            this.token = this.$store.getters.getJWTToken;
            this.checkUserToken(this.token);
            this.getFriendList();
        },
        methods: {
            getFriendList(){
                //console.log('GOR');
                let vm = this;
                let API_URL =vm.$config.API_URL;
                console.log(API_URL+'api/friend/list?user_id='+vm.myself.id+'&token='+vm.token);
                axios.get(API_URL+'api/friend/list?user_id='+vm.myself.id+'&token='+vm.token)
                .then((response) => {
                    console.log('GO');
                    console.log(response.data);

                    this.myFriends=response.data;

                });
            },
            createFriend(fd_id) {
                let vm = this;
                let API_URL =vm.$config.API_URL;
                axios.post(API_URL+'api/friend/store', {friend_id: fd_id, user_id: vm.myself.id, token: vm.token})
                .then((response) => {

                    let newFriend = {
                        'id':response.data.id,
                        'name':response.data.name,
                        'avatar':response.data.avatar
                    };
       
                    vm.myFriends.push(newFriend);
                    //this.searchFriend = '';
                    vm.searchFriend();
                });
            }, 
            deleteFriend(fd_id) {
                let vm = this;
                let API_URL =vm.$config.API_URL;
                axios.post(API_URL+'api/friend/delete', {friend_id: fd_id, user_id: vm.myself.id, token: vm.token})
                .then((response) => {
                    
                    let tmp_array = [];
                    vm.myFriends.forEach(function(element) {
                        if(element.id!=fd_id){
                        console.log(element.id);
                        tmp_array.push(element);
                        }
                    });
                    vm.myFriends = tmp_array;
             
                });
            
            }, 
            searchFriend() {
                let vm = this;
                if(vm.friend_name!=''){
                    let API_URL =vm.$config.API_URL;
                    axios.get(API_URL+'api/friend/searchWithoutExisting?friend_name='+vm.friend_name+"&user_id="+vm.myself.id+'&token='+vm.token)
                    .then((response) => {
                        if(response.data=='fail'){
                            vm.searchFail = true;
                            vm.friend_search = [];

                        }else{
                            vm.searchFail = false;
                            vm.friend_search = response.data;
                        }
                    });
                }else{
                    vm.friend_search = [];
                }

            }

            
        }
    }
</script>


<style type="text/css">
   @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
   @import "main.css";
</style>
