<template>               
 <div class="card col-sm-8 ml-2">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="height: 49px; padding-top:12px">
                <router-link :to="{name: 'Chat.ChatMain'}" tag="span" exact class="col-sm-10">
                    <i class="fa fa-chevron-left" aria-hidden="true" style="cursor: pointer;"></i> 
                    <span class="clearfix" style="display: inline-block; padding-left:10px"><h5>建立聊天群組</h5></span>
                </router-link>
                <div class="col-sm-2">
                    <button type="submit" @click.prevent="createGroup" class="btn btn-primary mb-2 pull-right">建立群組</button>
                </div>
            </div>
        </nav>
        <div class="row no-gutters" >
                <div class='col-sm-7'>
                    <div style="height:182px;padding:40px; border-bottom: 1px solid #dee2e6; border-right: 1px solid #dee2e6;"> 
                        <div class="row" >
                            <div class='col-sm-4'>
                                <div v-if="!image">
                        
                                    <label for="file" class="custom-file-upload">
                                        <img src="http://chatroomapi.example/images/no-image.png" width='100px'/>
                                    </label>
                                    <input id="file" type="file" @change="onFileChange"/>

                                </div>
                                <div v-else>
                                    <img :src="image" width="100px"/>
                                    <button class="btn btn-danger btn-sm" @click="removeImage">移除圖片</button>
                                </div>
                            </div>
                            <div class='col-sm-8 pt-3'>
                                <div class="form-group">
                                    <label for="name" class="control-label">群組名稱</label>
                                    <input class="form-control group-input" type="text" v-model="name" >
                                </div> 
                            </div>

                        </div>
                    </div>
                    <div style="border-right: 1px solid #dee2e6;height:330px; overflow-x:none;overflow-y:auto;padding:30px">
                        <div style="font-size: 18px;">
                            群組成員({{groupFriends.length}})
                        </div>
                        <p style="color:#8c8c8c;line-height:1.5">
                            請從右側列表選擇朋友加入群組
                        </p>
                        <ul v-for="(user,index) in groupFriends" class="list-group">
                            <li class="list-group-item"> 
                                <div class="form-check">
                                <label class="form-check-label">
                                    <img :src="user.avatar" alt="" class="img-circle img-fluid col-xs-11" style='width:60px'/>
                                    {{ user.name }}
                                </label>
                                <label class="form-check-label pull-right" style="margin-top:15px">
                                    <button class="btn btn-danger btn-sm" @click="removeFdFromGroup(index, user)">X</button>
                                </label>
                                </div>
                                
                            </li>
                        </ul>

                    </div>
        
                </div>
                <div class='col-sm-5' >
                    <div style="font-size: 18px; height: 40px;text-align:center; padding-top:7px;">
                            我的好友({{myFriends.length}})
                        </div>
                    <div style="overflow-x:none;overflow-y:auto;height:468px;">
                        <ul v-for="(user,index) in myFriends" class="list-group" >
                            <li class="list-group-item" @click="addFdToGroup(index, user)" :id="user.id"> 
                                <div class="form-check">
                                <label class="form-check-label">
                                    <img :src="user.avatar" alt="" class="img-circle img-fluid col-xs-11" style='width:60px'/>
                                    {{ user.name }}
                                </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>
</template>

<script>
    import commonMixin from '../../mixins/commonMixin.js'
    export default {
        mixins:[commonMixin],
        data() {
            return {
                myself:{},   //使用者個人資料
                image: '',
                name: '',
                users:[],
                myFriends: [],
                groupFriends: [],
                file: '',
                saveStoreGroup :[],
                token: '',
            }
        },
        created() {
            this.myself = this.$store.getters.getUserData;
            this.token = this.$store.getters.getJWTToken;
            
        },
        mounted(){
            this.token = this.$store.getters.getJWTToken;
            this.checkUserToken(this.token);
            this.getFriendList();
        },
        methods: {
            getFriendList(){
                let vm = this;
                let API_URL =vm.$config.API_URL;
                console.log(vm.myself.id);
                console.log(API_URL+'api/friend/list?user_id='+vm.myself.id+'&token='+vm.token);
                axios.get(API_URL+'api/friend/list?user_id='+vm.myself.id+'&token='+vm.token)
                .then((response) => {
                    
                    //console.log('GO');
                    //console.log(response.data);

                    this.myFriends=response.data;

                });
            },
            addFdToGroup(index, user){
                console.log(user);
                this.groupFriends.push(user);
                this.myFriends.splice(index,1);
            },
            removeFdFromGroup(index, user){
                this.myFriends.push(user);
                this.groupFriends.splice(index,1);
            },
            createGroup() {
                let vm = this;
                let API_URL =vm.$config.API_URL;
                //this.myself = this.$store.getters.getUserData;
                if(vm.groupFriends.length==0){
                    vm.$swal('通知訊息.', '請選擇要聊天的朋友!', 'error');
                }else if(vm.name==""){
                    vm.$swal('通知訊息.', '請輸入群組名稱!', 'error');
                }else if(vm.file==""){
                    vm.$swal('通知訊息.', '請選擇群組圖片!', 'error');
                }else{      
                    let usersArray = []; 
                    var forEachIt = vm.groupFriends.forEach(function(item, index, array){
                        console.log(item, index, array); // 物件, 索引, 全部陣列
                        usersArray.push(item.id);
                    });          
                    let formData = new FormData();
                    formData.append('user_id', vm.myself.id);
                    formData.append('file', vm.file);
                    formData.append('name', vm.name);
                    formData.append('users', usersArray.join());
                    formData.append('token', vm.token);
                    
                    axios.post( API_URL+'api/groups',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    ).then((response) => {
                        console.log(response);
                        //vm.$store.commit('addOneGroupData', response.data);
                        //vm.$router.push('/home');
                        vm.$router.push('/Chat');
                        vm.users = [];
                        vm.name = '';
                    })
                    .catch((error) => {
                        if (error.response) {

                        } else if (error.request) {
                            console.log(error.request);
                        } else {
                            console.log('Error', error.message);
                        }
                        console.log(error.config);
                    });   
                    
                }
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.file = files[0];
            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
                },
                removeImage: function (e) {
                this.image = '';
            }
        }
    }
</script>


<style>
   @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
   @import "main.css";
   .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    }

    .upload-btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    }

    .group-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    }

    .group-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    }
</style>
