<template>               
 <div class="card col-sm-8 ml-2">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="height: 49px; padding-top:12px">

                    <router-link :to="{name: 'Chat.ChatMain'}" tag="span" exact class="col-sm-10">
                        <i class="fa fa-chevron-left" aria-hidden="true" style="cursor: pointer;"></i> 
                        <span class="clearfix" style="display: inline-block; padding-left:10px"><h5>編輯個人資料</h5></span>
                    </router-link>

                    <div class="col-sm-2">
                        <button type="submit"  @click.prevent="submitUserProfile()" @click.native="submitUserProfile()" class="btn btn-primary mb-2 pull-right">儲存個人資料</button>
                    </div>
                    
            </div>
        </nav>
        <div class="row no-gutters" >
                <div class='col-sm-7'>
                    <div style="height:182px;padding:40px; border-bottom: 1px solid #dee2e6; border-right: 1px solid #dee2e6;"> 
                        <div class="row" >
                            <div class='col-sm-4'>
                                <div v-if="!image">
                        
                                    <label for="file" class="custom-file-upload">
                                        <img src="http://chatroomapi.example/images/no-image.png" width='100px'/>
                                    </label>
                                    <input id="file" type="file" @change="onFileChange"/>

                                </div>
                                <div v-else>
                                    <img :src="image" width="100px"/>
                                    <button class="btn btn-danger btn-sm" @click="removeImage">移除圖片</button>
                                </div>
                            </div>
                            <div class='col-sm-8 pt-3'>
                                <div class="form-group">
                                    <label for="name" class="control-label">顯示名稱</label>
                                    <input type="text" name="name" id="name" class="form-control group-input" v-model="myself.name" >
                                </div> 
                            </div>

                        </div>
                    </div>
                    <div style="border-right: 1px solid #dee2e6;height:330px; overflow-x:none;overflow-y:auto;padding:30px">
                      
                        <div class="row">
                            <div class="col-sm-6">
                                 <span class="WTag">個人資料</span>
                                 <div style="height:60px;padding-top:10px;font-size: 14px;">
                                     生日
                                     <input type="text" name="birthdate" id="birthdate" class="form-control group-input" v-model="myself.birthdate" placeholder="1983/06/02">
                                 </div>
                                 <div style="height: 40px; margin-top: 20px; margin-bottom: 20px; font-size: 14px;">
                                     星座
                                     <div class="row no-gutters mt-2">
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z1 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z1')">牡羊座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z2 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z2')">金牛座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z3 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z3')">雙子座</span></h5></div>
                                     </div>

                                     <div class="row no-gutters mt-2">
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z4 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z4')">巨蟹座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z5 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z5')">獅子座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z6 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z6')">處女座</span></h5></div>
                                     </div>

                                     <div class="row no-gutters mt-2">
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z7 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z7')">天秤座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z8 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z8')">天蠍座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z9 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z9')">射手座</span></h5></div>
                                     </div>
                                     <div class="row no-gutters mt-2">
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z10 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z10')">摩羯座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z11 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z11')">水瓶座</span></h5></div>
                                         <div class="col-sm-4" style="cursor:pointer"><h5><span v-bind:class="[zodiac.z12 ? 'badge-dark' : 'badge-light', 'badge', 'badge-pill']" @click="chooseZodiac('z12')">雙魚座</span></h5></div>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-sm-6">
                                 <span class="WTag">聯絡資訊</span>
                                  <div style="height: 40px; margin-top: 10px; margin-bottom: 20px; font-size: 14px;" >
                                     手機號碼
                                     <input type="text" name="mobile" id="mobile" class="form-control group-input" v-model="myself.mobile"/>
                                 </div>
                                 <div style="height: 40px; margin-top: 30px; margin-bottom: 20px; font-size: 14px;">
                                     E-mail
                                     <input type="text" name="email" id="email" class="form-control group-input" v-model="myself.email"/>
                                 </div>
                                 <div style="height: 40px; margin-top: 30px; margin-bottom: 20px; font-size: 14px;">
                                     居住地址
                                     <input type="text" name="address" id="address" class="form-control group-input" v-model="myself.address"/>
                                 </div>
                            </div>
                        </div>
                    </div>
        
                </div>
                <div class='col-sm-5' >
                    <div style="height:182px;padding:30px; border-bottom: 1px solid #dee2e6; border-right: 1px solid #dee2e6;"> 
                            <span class="WTag">狀態</span>
                            <div style="height: 40px; margin-top: 10px; margin-bottom: 20px; font-size: 14px;">
                                    <input type="text" name="desc" id="desc" class="form-control group-input" v-model="myself.desc"/>
                            </div>
                    </div>
                    <div style="border-right: 1px solid #dee2e6;height:330px; overflow-x:none;overflow-y:auto;padding:30px">
                         <span class="WTag">社交</span>
                            <div style="height: 40px; margin-top: 10px; margin-bottom: 20px; font-size: 14px;">
                                     facebook
                                     <input type="text" name="facebook" id="facebook" class="form-control group-input" v-model="myself.facebook"/>
                                     instagram
                                     <input type="text" name="instagram" id="instagram" class="form-control group-input" v-model="myself.instagram"/>
                                     個人網站
                                     <input type="text" name="website" id="website" class="form-control group-input" v-model="myself.website"/>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</template>

<script>
    import commonMixin from '../../mixins/commonMixin.js'
    export default {
        mixins:[commonMixin],
        data() {
            return {
                myself:{},   //使用者個人資料
                image: '',
                name: '',
                users:[],
                myFriends: [],
                groupFriends: [],
                file: '',
                saveStoreGroup :[],
                token: '',
                zodiac:{
                    "z1": false,
                    "z2": false,
                    "z3": false,
                    "z4": false,
                    "z5": false,
                    "z6": false,
                    "z7": false,
                    "z8": false,
                    "z9": false,
                    "z10": false,
                    "z11": false,
                    "z12": false,    
                }
            }
        },
        created() {
            this.myself = this.$store.getters.getUserData;
            this.token = this.$store.getters.getJWTToken;
            this.chooseZodiac(this.myself.zodiac)
        },
        mounted(){
            this.token = this.$store.getters.getJWTToken;
            this.checkUserToken(this.token);
        },
        methods: {
            chooseZodiac(cz){
                for(var index in this.zodiac) { 
                    //console.log(index);
                    this.zodiac[index] = false; 
                    if(index==cz){
                    this.zodiac[index] = true; 
                    this.myself.zodiac = cz;
                    }
                }
            },
            submitUserProfile() {
                console.log('go');
                var formData = new FormData()
                formData.append('user_id', this.myself.id)
                formData.append('birthdate', this.myself.birthdate)
                formData.append('name', this.myself.name)
                formData.append('phone', this.myself.phone)
                formData.append('mobile', this.myself.mobile)
                formData.append('address', this.myself.address)
                formData.append('zodiac', this.myself.zodiac)
                formData.append('token', this.token)
                formData.append('desc', this.myself.desc)
                formData.append('facebook', this.myself.facebook)
                formData.append('instagram', this.myself.instagram)
                formData.append('website', this.myself.website)
                formData.append('file', this.file);
                let API_URL =this.$config.API_URL;

                axios.post(API_URL+'api/fileupload/userProfile',
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                ).then((response) => {
                    console.log(response.data);
                    var obj = JSON.parse(response.data); 
                    if(obj.result=='success'){
                        if(obj.link!=''){
                            this.myself.avatar = obj.link;
                        }
                        
                        this.$store.dispatch('setUserData',this.myself);
                        
                        this.$swal('通知訊息.', '更新個人資料成功!', 'success');
                    
                    }else{
                        this.$swal('通知訊息.', '更新個人資料失敗!', 'error');
                    }

                })
                .catch((error) => {
                    if (error.response) {

                    } else if (error.request) {
                        console.log(error.request);
                    } else {
                        console.log('Error', error.message);
                    }
                    console.log(error.config);
                });   
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.file = files[0];
            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
                },
                removeImage: function (e) {
                this.image = '';
            }
            
        }
    }
</script>


<style>
   @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
   @import "main.css";
   .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    }

    .upload-btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    }

    .group-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c6bcbc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    }

    .group-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    }

    .WTag{
        border-style: solid;
        border-width: 0px 0px 0px 5px;
        height:17px;
        padding-left:10px;
        font-family: PingFangTC;
        font-size: 18px;
    }
</style>
